extends layout

block content
each movie in movies 
  h1 #{movie.original_title} 
 
    a(href="/search")
      img(src="https://image.tmdb.org/t/p/original#{movie.poster_path}", alt=`#{movie.original_title}`)
  
  
