extends layout

block content
      img(class="moviePoster" src="https://image.tmdb.org/t/p/original#{movies.poster_path}", alt="#{movies.original_title}")
  
      p(class="description")"#{movies.overview}"
