extends layout

block content
  h1 Invalid Region
  p Sorry but the region you have typed cannot be found either it is spelt wrong or it is not in our database apologies
  a.btn(class='popularMoviesButton' href='/popular') Back
 